body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    color: white;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

.game-container {
    border: 2px solid white;
}

canvas {
    background-color: black;
    display: block;
}
